{
    "presets": [
        "react-app"
    ],
    "plugins": [
        [
            "transform-remove-console",
            {
                "exclude": [
                    "error",
                    "warn"
                ]
            }
        ]
    ]
}